.root {
-fx-background-color: darkgrey;

}

.testbutton {
	-fx-background-color: black;
}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
}


.button:hover {

    -fx-background-color: #3a3a3a;

}

.button:pressed {
	-fx-text-fill: white;

}

.boarderbox {
	-fx-background-color: white;
	-fx-border-style: solid;
                -fx-border-width: 1;
                -fx-border-color: white;
}

.hbox {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-spacing: 5;
	-fx-border-style: solid;
                -fx-border-width: 1;
                -fx-border-color: black;
}

.stack {
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 4;
-fx-background-color: firebrick;
-fx-background-radius: 5;
}

.dicebutton {

}

.cb1 {
	-fx-background-color: red;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu .label {
  
-fx-font-size: 12px;
  
-fx-text-fill: black;
  
-fx-border-width: 3px;

}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}


.choicebox-base {

	-fx-background-color: white, white, white, white;

	-fx-background-radius: 5, 5, 4, 3;

	-fx-background-insets: 0 0 -1 0, 0, 1, 2;

}



.check-box>.box>.mark {
  -fx-background-image: url("ch\fhnw\itprojekt\bteam\images\dice3.png");
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  -fx-shape: none;
}

.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
  -fx-background-image: url("marked.png");
}


.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 12;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}